<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="./home.scss" />

    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
  </head>

  <body class="flex-column">
    <div
      style="--src: url(/assets/843007f520197c7a6d6323a008ba7e58.png)"
      class="journi-moodboard root"
    >
      <div class="group">
        <img
          src="/assets/bdb52dbec2831640cd7267da6ff88781.png"
          alt="alt text"
          class="decorator"
        /><img
          src="/assets/f6a5b4fcdc5b7251c0e40a940b3cea75.png"
          alt="alt text"
          class="decorator1"
        />
      </div>
      <div class="flexCol">
        <div class="flexRow">
          <div class="group1">
            <img
              src="/assets/3471af7b782a06ef7addd40103f07637.png"
              alt="alt text"
              class="icon"
            /><img
              src="/assets/ff0c7e0d2d13936d2803ce4e2e83b6eb.png"
              alt="alt text"
              class="icon1"
            />
            <h1 class="hero_title">Journi</h1>
          </div>
          <div class="spacer"></div>
          <div class="flexCol1">
            <h3 class="subtitle1">Log In</h3>
            <div class="group2">
              <div class="flexRow1">
                <h2 class="medium_title">Home</h2>
                <div class="spacer"></div>
                <h2 class="medium_title1">Activities</h2>
                <div class="spacer1"></div>
                <h2 class="medium_title">About</h2>
                <div class="spacer"></div>
                <h2 class="medium_title2">Contact</h2>
              </div>
              <div class="flexRow2">
                <hr size="1" class="line1" />
                <div class="spacer"></div>
                <hr size="1" class="line" />
                <div class="spacer1"></div>
                <hr size="1" class="line2" />
                <div class="spacer1"></div>
                <hr size="1" class="line3" />
              </div>
            </div>
          </div>
        </div>
        <div class="flexCol2">
          <h2 class="medium_title3">Your Trips</h2>
          <div class="flexCol3">
            <div class="flexRow3">
              <div class="cell">
                <div class="flexCol4">
                  <div class="content_box1">
                    <img
                      src="/assets/64efb33e5eba06d619739a2b0b3029ee.png"
                      alt="alt text"
                      class="image1"
                    />
                  </div>
                  <h3 class="subtitle">Paris</h3>
                </div>
              </div>
              <div class="spacer"></div>
              <div class="cell">
                <div class="flexCol4">
                  <div class="content_box1">
                    <img
                      src="/assets/0d3ece44be243089be4e77e32fd80d3a.png"
                      alt="alt text"
                      class="image1"
                    />
                  </div>
                  <h3 class="subtitle2">Rome</h3>
                </div>
              </div>
              <div class="spacer1"></div>
              <div class="cell">
                <div class="flexCol4">
                  <div class="content_box1">
                    <img
                      src="/assets/5b1696afe9e2f8d776402f5371c3c63e.png"
                      alt="alt text"
                      class="image1"
                    />
                  </div>
                  <h3 class="subtitle3">New York</h3>
                </div>
              </div>
              <div class="spacer"></div>
              <div class="cell">
                <div class="flexCol4">
                  <div class="content_box1">
                    <img
                      src="/assets/a80a791e5d0177ed50581efb21cd65f8.png"
                      alt="alt text"
                      class="image1"
                    />
                  </div>
                  <h3 class="subtitle4">Madrid</h3>
                </div>
              </div>
            </div>
            <div class="flexRow4">
              <div class="cell">
                <div class="flexCol4">
                  <div class="content_box1">
                    <img
                      src="/assets/72369b52faf001b9de8a01cb8f916af9.png"
                      alt="alt text"
                      class="image1"
                    />
                  </div>
                  <h3 class="subtitle5">Mexico</h3>
                </div>
              </div>
              <div class="spacer"></div>
              <div class="cell">
                <div class="content_box">
                  <img
                    src="/assets/3584f5713da7935fa52cfee479ba459c.png"
                    alt="alt text"
                    class="icon2"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
