.floatingBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00989B;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 30px;
    width: calc(100% - 40px);
    max-width: 600px;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.floatingBox-title{
    margin-bottom: 10px;
}


  .floatingBox-element1 {
    background-color: #A8D3D9;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 25px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    
  }
  
  .floatingBox-element2 {
    background-color: #A8D3D9;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 25px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
  