.image-p {
  position: absolute;
  width: 40%;
  max-width: none;
  height: 80%;
  max-height: none;
  left: 27px;
  top: 74px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 37px;
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
  .image-p {
    max-width: 100%; /* adjust as needed */
    height: auto;
    left: 10px; /* adjust as needed */
    top: 50px; /* adjust as needed */
  }
}

/* Additional media queries for smaller screens if needed */
@media (max-width: 480px) {
  .image-p {
    left: 5px; /* adjust as needed */
    top: 30px; /* adjust as needed */
  }
}

.container-rec {
  padding: 10px;
  height: 70%;
  max-height: none;
  margin: 40px;
  position: absolute;
  width: 90%;
  max-width: none;
  left: 3.125rem;
  top: 16.3125rem;

  background: #02192d;
  border-radius: 21px;
}

.title {
  position: absolute;
  width: 90%;
  max-width: none;
  height: 6.25rem;
  left: 3.125rem;
  top: 8.90625rem;
  margin: 40px;
  background: rgba(18, 116, 117, 0.41);
  border-radius: 21px;
}

.title1 {
  display: flex;
  justify-content: center;
  max-width: none;
  height: 3rem;
  left: 20%;
  top: 0.5rem;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;

  color: #ffffff;
}

.subtitle {
  max-width: none;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #ffffff;
}

.container-title {
  display: flex;
  font-size: x-large;
  font-family: "Lato";
  font-style: inherit;
  font-weight: 100;
  line-height: 1.5rem;
  color: #ffffff;
  justify-content: center;
  margin: 20px;
  text-decoration: underline;
}

/* .horizontal-line {
          position: absolute;
          width: 435px;
          height: 0px;
          top: 52%;
          left: 32%;
          border: 1px solid #227f8d;
          box-shadow: 5px 10px 9px #1c5b6b;
          transform: rotate(90deg);
        } */

.container-rec2 {
  display: flex;
  justify-items: center;
  flex-direction: row;
}

.reviews {
  display: flex;
  left: 55%;
  top: 13%;
  max-height: none;
  max-width: none;
  width: 40%;
  height: 70%;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
}

.reviews-title {
  margin: 10px;
  width: 90px;
  height: 29px;
  left: 60%;
  top: 74px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #ffffff;
}

.numberofreviews {
  width: 67px;
  height: 17px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #ffffff;
}

.stars {
  margin: 10px;
  display: flex;
  color: #ffca28;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  align-items: center;
}

.comments {
  display: flex;
  left: 55%;
  top: 37%;
  max-height: none;
  max-width: none;
  width: 40%;
  height: 60%;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
}

.comments-title {
  margin: 10px;
  width: 123px;
  height: 29px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #ffffff;
}

.user {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;

  align-items: center;
}

.user-pic {
  margin: 10px;
  width: 57px;
  height: 54px;

  background: #227f8d;
  border-radius: 36px;
}

.user-name {
  width: 102px;
  height: 29px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #ffffff;
}

.user-comment {
  margin: 10px;
  width: 380px;
  height: 29px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.smiley {
  margin: 10px;
  width: 39px;
  height: 34px;
  color: #ffca28;
}

.comment-section {
  display: flex;
  flex-direction: row;
}
